# stage3

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

## 1. 데이터 로드

In [4]:
df = pd.read_csv('data/friend.csv', encoding='cp949')
df

     이름  친구  고향  나이      성별  전공  연애중
0   김예진   0  제주  10  female  경영    1
1   권백희   1  서울  20  female  응통    0
2   구지호   0  경기  38    male  경영    0
3   박지수   0  경기  12    male  응통    0
4   윤미래   0  강원  22  female  경제    0
5   전지현   0  충청  11    male  광보    0
6   탁유아   1  경상  19  female  컴공    1
7   김호성   1  대전  20    male  컴공    0
8   반이슬   1  대전  29  female  기계    1
9   이수지   0  제주  27  female  전자    1
10  김웅빈   0  서울  52    male  경제    0
11  하수현   0  서울  23    male  응통    0
12  박성민   1  대구  21    male  컴공    0
13  고주형   1  대구  22    male  컴공    1

## 2. 데이터 전처리

In [5]:
gender_dict = {0:'male', 1:'female'}
df['성별'] = df['성별'].map(gender_dict)

ValueError: bad input shape (14, 3)

In [7]:
df

            ID  우수고객분류   이름  나이  성별  지역  관심사
0          cdg       1  최도근  10   0   0    0
1       leekun       0  이헌영  42   0   0    0
2         son7       0  손흥민  38   1   1    2
3  parklangers       1  박지성  12   0   0    0
4   bluedragon       0  이청용  22   1   1    2
5         tuna       1  지동원  11   0   0    1
6          key       1  기성용  19   1   1    0
7        koojc       0  구자철  28   0   2    2

## 3. 모델링

In [11]:
input_data = df[['나이', '성별', '지역', '관심사']]
target_data = df['우수고객분류']

In [12]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=100)
rf.fit(input_data, target_data)

print('accuracy :', rf.score(input_data, target_data))

accuracy : 1.0

In [21]:
rf.predict([[23, 1, 1, 1]])

array([1], dtype=int64)

In [18]:
df_test = pd.read_csv('./data/new_customers.csv')
df_test

        ID   이름  나이      성별  지역 관심사
0  tseter1  이강인  10    male  서울  축구
1  tester2  이승우  25  female  경기  야구

In [19]:
df_test.loc[df_test['성별'] == 'male', '성별'] = 0
df_test.loc[df_test['성별'] == 'female', '성별'] = 1

df_test.loc[df_test['지역'] == '서울', '지역'] = 0
df_test.loc[df_test['지역'] == '경기', '지역'] = 1
df_test.loc[df_test['지역'] == '제주', '지역'] = 2

df_test.loc[df_test['관심사'] == '축구', '관심사'] = 0
df_test.loc[df_test['관심사'] == '야구', '관심사'] = 1
df_test.loc[df_test['관심사'] == 'esports', '관심사'] = 2

C:\Users\round\Anaconda3\lib\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [20]:
test_input = df_test[['나이', '성별', '지역', '관심사']]
rf.predict(test_input)

array([1, 0], dtype=int64)