# stage3

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

## 1. 데이터 로드

In [5]:
df = pd.read_csv('data/my_customers.csv')
df

            ID  우수고객분류   이름  나이      성별  지역      관심사
0          cdg       1  최도근  10    male  서울       축구
1       leekun       0  이헌영  42    male  서울       축구
2         son7       0  손흥민  38  female  경기  esports
3  parklangers       1  박지성  12    male  서울       축구
4   bluedragon       0  이청용  22  female  경기  esports
5         tuna       1  지동원  11    male  서울       야구
6          key       1  기성용  19  female  경기       축구
7        koojc       0  구자철  28    male  제주  esports

## 2. 데이터 전처리

In [6]:
df.loc[df['성별'] == 'male', '성별'] = 0
df.loc[df['성별'] == 'female', '성별'] = 1

df.loc[df['지역'] == '서울', '지역'] = 0
df.loc[df['지역'] == '경기', '지역'] = 1
df.loc[df['지역'] == '제주', '지역'] = 2

df.loc[df['관심사'] == '축구', '관심사'] = 0
df.loc[df['관심사'] == '야구', '관심사'] = 1
df.loc[df['관심사'] == 'esports', '관심사'] = 2

In [7]:
df

            ID  우수고객분류   이름  나이  성별  지역  관심사
0          cdg       1  최도근  10   0   0    0
1       leekun       0  이헌영  42   0   0    0
2         son7       0  손흥민  38   1   1    2
3  parklangers       1  박지성  12   0   0    0
4   bluedragon       0  이청용  22   1   1    2
5         tuna       1  지동원  11   0   0    1
6          key       1  기성용  19   1   1    0
7        koojc       0  구자철  28   0   2    2

## 3. 모델링

In [11]:
input_data = df[['나이', '성별', '지역', '관심사']]
target_data = df['우수고객분류']

In [12]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=100)
rf.fit(input_data, target_data)

print('accuracy :', rf.score(input_data, target_data))

accuracy : 1.0

In [21]:
rf.predict([[23, 1, 1, 1]])

array([1], dtype=int64)

In [18]:
df_test = pd.read_csv('./data/new_customers.csv')
df_test

        ID   이름  나이      성별  지역 관심사
0  tseter1  이강인  10    male  서울  축구
1  tester2  이승우  25  female  경기  야구

In [19]:
df_test.loc[df_test['성별'] == 'male', '성별'] = 0
df_test.loc[df_test['성별'] == 'female', '성별'] = 1

df_test.loc[df_test['지역'] == '서울', '지역'] = 0
df_test.loc[df_test['지역'] == '경기', '지역'] = 1
df_test.loc[df_test['지역'] == '제주', '지역'] = 2

df_test.loc[df_test['관심사'] == '축구', '관심사'] = 0
df_test.loc[df_test['관심사'] == '야구', '관심사'] = 1
df_test.loc[df_test['관심사'] == 'esports', '관심사'] = 2

C:\Users\round\Anaconda3\lib\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [20]:
test_input = df_test[['나이', '성별', '지역', '관심사']]
rf.predict(test_input)

array([1, 0], dtype=int64)