# Lecture 02. Collection

이 강의자료는 [2019-2 인공지능 강의자료](), [점프 투 파이썬](https://wikidocs.net/book/1), [W3School Python Tutorial](https://www.w3schools.com/python/default.asp)을 참고하였습니다.    

[개인블로그](https://coding-penguin.tistory.com)에도 정리하고 있으니 관심있으시면 가끔 들러주세요:)

## 1. 컬렉션 Collection
파이썬은 배열(array)을 지원하지 않는다. (지원하더라도 잘 쓰이지 않는다.) 그 대신 `리스트`, `튜플`, `집합`, `딕셔너리`와 같은 컬렉션을 지원한다.    

한 마디로 컬렉션이란 **여러 데이터를 처리하는 자료구조**이다.

<img src='./collection.png' width=80%>

## 2. 리스트
리스트는 다음과 같은 특징을 가지고 있다.
* 데이터가 들어온 순서대로 나열이 된다.
* 리스트가 생성되고 난 뒤 리스트 속 요소들을 바꿀 수 있다.

보통 리스트는 **데이터의 순서를 고려**해야 하고 **값이 변경될 가능성이 있는 경우** 사용된다.

### 2.1. 리스트 생성
* 같은 자료형의 데이터 뿐만 아니라 여러 가지 자료형으로 구성된 리스트를 생성할 수 있다.
* 리스트 자체를 요소로 가질 수 있다.
* 어떤 요소도 넣지 않으면 빈 리스트가 생성된다.

In [27]:
# 빈 리스트 만들기
a = []
b = list()

print(a)
print(b)

[]
[]

In [28]:
# []와 ,를 이용하여 리스트를 만들 수 있다
a = [1, 2, 3]
b = [1, 2, [5, 6]]

print(a)
print(b)

[1, 2, 3]
[1, 2, [5, 6]]

### 2.2. 리스트 인덱싱
* 인덱스를 통해 리스트의 요소에 접근할 수 있다
* 음수 인덱싱으로 리스트의 가장 끝에서부터 접근할 수 있다 (-1이 끝 부분 첫 시작)
* 리스트 인덱싱으로 해당 요소의 값을 바꿀 수 있다

In [29]:
a = [1, 2, 3, 4, 5, 6]

print(a[0])     # 리스트 인덱싱
print(a[-1])    # 음수 인덱싱

# 인덱스로 접근해 요소 수정
a[5] = 8
print(a)

1
6
[1, 2, 3, 4, 5, 8]

### 2.3. range 객체
* 연속된 정수`(시작, 끝-1)`를 생성한다.
* range객체는 인덱싱이 가능하지만, 접근하여 요소 수정은 불가능하다. (수정하고 싶으면 리스트로 변환)
* 반환되는 자료형은 `range`이므로 `list()`를 통해 리스트 자료형으로 변환하여 쓸 수 있다.

In [2]:
# 연속된 정수 생성
a = range(1, 10)
print(a)

# range 객체는 인덱스로 접근 가능
print(a[0])

# 수정하고 싶으면 list로 변환하여 수정
a = list(a)
a[0] = 10
print(a)

range(1, 10)
1
[10, 2, 3, 4, 5, 6, 7, 8, 9]

### 2.4. 리스트 슬라이싱
* 리스트의 일부분을 추출해서 반환한다.
* 음수 인덱스도 사용이 가능하며, 앞 쪽을 비워두면 default 인덱스 값은 0, 뒤 쪽을 비워두면 default 인덱스 값은 -1이다.
* 추출 시 step을 추가하여 추출의 방향이나 몇몇 요소를 패스할 수 있다.

In [31]:
a = list(range(10))

# 리스트 슬라이싱 형태
print(a[1:3])    # 1에서 2
print(a[:3])     # 0에서 2
print(a[5:])     # 5에서 -1
print(a[:])      # a 그 자체
print(a[-4:-2])  # -4에서 -3
print(a[:-1])    # 0에서 -2

# n만큼의 간격만큼 띄워서 추출
print(a[1:8:2])  # 1에서 시작해 2만큼 띄워서 추출
print(a[::-1])   # 모든 요소를 역순으로 추출

[1, 2]
[0, 1, 2]
[5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[1, 3, 5, 7]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### 2.5. 조건문/반복문에서의 리스트 사용
* `in` 키워드를 사용하여 리스트의 특정 요소가 있는지 `True/False`를 반환한다.
* for문에서 리스트의 요소들을 반복해서 조회를 할 수 있다.
* for문에서 리스트의 요소와 더불어 **인덱스**까지 접근하고 싶다면, `enumerate`를 사용하면 된다.

In [32]:
print(1 in [1, 2, 3])      # True
print(1 not in [1, 2 ,3])  # False

True
False

In [33]:
names = ['Kevin', 'Amy', 'Emily']

# 반복문을 통해 각 요소에 접근
for p in names:
    print(p)

# 인덱스까지 접근하고 싶은 경우 enumerate 사용
for idx, p in enumerate(names):
    print(idx, ':', p)

Kevin
Amy
Emily
0 : Kevin
1 : Amy
2 : Emily

### 2.6. 리스트 연산
* `+` : 두 리스트를 concat한 새로운 리스트 반환
* `*` : 리스트의 요소를 n번 반복한 새로운 리스트 반환
* `len` : 리스트 길이를 반환

In [34]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [35]:
a * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [36]:
len(a)

3

### 2.7. 리스트의 수정과 삭제
* `수정` : 인덱스로 접근하여 수정한다.
* `삭제` : `del` 키워드와 인덱싱/슬라이싱을 이용해 삭제한다.

In [37]:
a = [1, 2, 3, 4, 5, 6]
a[2] = 7
a

[1, 2, 7, 4, 5, 6]

In [38]:
del a[-1]
a

[1, 2, 7, 4, 5]

In [39]:
del a[2:]
a

[1, 2]

### 2.8. 리스트의 복사
* `=`을 사용하면 **얕은 복사(주소값 복사)**가 일어난다. 즉, 같은 리스트 객체를 가리키게 된다.
* **깊은 복사**를 하려면 새로운 객체를 만들어주어야 한다.
    * `[:]`을 이용해 전체 리스트를 추출한 새로운 리스트를 반환한다.
    * `copy` 모듈의 `copy()`함수를 이용해 똑같은 리스트를 
    생성해 반환한다.
* **동일 객체인지 알 수 있는 방법**을 알고 있어야 한다.
    * `is` 키워드는 두 객체의 주소가 같은지 안 같은지를 반환한다. (`True`는 주소값이 같고, `False`는 주소값이 다르다)
    * `id` 함수를 이용하면 객체의 고유 id를 반환한다.

In [40]:
from copy import copy

a = [1, 2, 3]

# 얕은 복사
b = a
print(id(b), id(a))
print(a is b)

# 깊은 복사
c = a[:]
d = copy(a)
print(id(d), id(c), id(a))
print(a is c)
print(a is d)

1796420981320 1796420981320
True
1796420934856 1796420981576 1796420981320
False
False

### 2.9. 리스트 메서드
* `append(x)` : 리스트의 맨 마지막에 x를 추가한다.
* `sort()` : 리스트를 정렬한다.
* `reverse()` : 리스트를 뒤집는다.
* `index(x)` : 리스트에 x의 위치를 반환한다.
* `insert(idx, x)` : 리스트의 idx 위치에 x를 추가한다.
* `remove(x)` : 리스트에서 첫 번째로 나오는 x를 삭제한다.
* `pop()` : 리스트의 맨 마지막 요소를 삭제하고 그것을 반환한다.
* `pop(idx)` : 리스트의 idx 위치에 있는 요소를 삭제하고 그것을 반환한다.
* `count(x)` : 리스트에 있는 x의 개수를 반환한다.
* `extend(lst)` : 리스트의 뒤 쪽에 lst를 더한다. (=concat)

In [41]:
a = [1, 2, 3, 4, 5]

In [42]:
# append : 리스트의 맨 마지막에 요소 추가
a.append(6)
a

[1, 2, 3, 4, 5, 6]

In [43]:
# sort : 리스트를 정렬
b = [3, 4, 6, 2, 8, 1]
b.sort()
b

[1, 2, 3, 4, 6, 8]

In [44]:
# reverse : 리스트를 뒤집음
b.reverse()
b

[8, 6, 4, 3, 2, 1]

In [45]:
# index : 특정 요소의 위치를 반환
a.index(3)

2

In [46]:
# insert : 특정 위치에 인자로 들어온 요소를 추가
a.insert(2, 10)
a

[1, 2, 10, 3, 4, 5, 6]

In [47]:
# remove : 인자로 들어온 요소를 제거
a.remove(10)
a

[1, 2, 3, 4, 5, 6]

In [48]:
# pop : 가장 뒤 쪽의 요소를 제거하고 그것을 반환
print(a.pop())
a

6

[1, 2, 3, 4, 5]

In [49]:
# pop : 해당 위치의 요소를 제거하고 그것을 반환
print(a.pop(3))
a

4

[1, 2, 3, 5]

In [50]:
# count : 특정 요소의 개수를 반환
c = [1, 1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 5, 5, 5]
c.count(1)

3

In [51]:
# extend : 인자로 받은 리스트를 해당 리스트에 추가
d = [6, 7, 8, 9]
a.extend(d)
a

[1, 2, 3, 5, 6, 7, 8, 9]

### 2.10. 리스트 Comprehensions

In [52]:
a = [1, 2, 3, 4, 5]

# 리스트 Comprehension
a_mul2 = [x*2 for x in a]
a_mul2

[2, 4, 6, 8, 10]

In [53]:
# 조건을 달 수도 있음
a_mul2_even = [x*2 for x in a if x%2==1]
a_mul2_even

[2, 6, 10]

## 3. 딕셔너리
딕셔너리는 **key값과 그에 대응하는 value값이 있**는 컬렉션을 말한다. 딕셔너리는 다음과 같은 특징을 갖고 있다.
* 데이터가 들어온 순서가 상관이 없다.
* key값으로 인덱싱이 되어 있어 key값으로 데이터(=value) 수정이 가능하다.
* key값은 고유값이므로 key값 중복은 불가능하다.

딕셔러니는 주로 **자체적으로 만든 key값으로 데이터에 접근하고 싶을 때** 사용된다.

### 3.1. 딕셔너리 생성

In [54]:
# 빈 딕셔너리 생성
a = {}
b = dict()
a, b

({}, {})

In [55]:
# {}와 :와 , 로 딕셔너리 생성
a = {'Groot':120, 'Cindy':160}
a

{'Groot': 120, 'Cindy': 160}

### 3.2. 딕셔너리 인덱싱
* 딕셔너리는 인덱스가 없지만, key값이 있어 **key값으로 value에 접근**이 가능하다.
* key값으로 접근해서 value를 수정할 수 있다. (없으면 요소가 추가됨)
* `in` 키워드로 딕셔너리에 해당 key가 있는지를 `True/False`로 반환한다.

In [56]:
# 인덱스로 value 접근
print(a['Groot'])

# in 키워드로 해당 key가 있는지 확인
print('Cindy' in a)

120
True

### 3.3. 딕셔너리 쌍 추가, 삭제

In [57]:
# 딕셔너리 쌍 추가
a['Kevin'] = 180
a

{'Groot': 120, 'Cindy': 160, 'Kevin': 180}

In [58]:
# 딕셔너리 쌍 제거
del a['Kevin']
a

{'Groot': 120, 'Cindy': 160}

### 3.4. 조건문/반복문에서의 딕셔너리 사용
* `in` 키워드로 해당 key값이 딕셔너리에 있는지 알 수 있다.
* for문에서 딕셔너리의 key값에 반복적으로 접근할 수 있다.
* for문에서 key값과 value값 둘 다에 접근하고 싶다면 `items`를 사용하여 반복적으로 접근할 수 있다.

In [59]:
# for문으로 key값에 반복적으로 접근
for name in a:
    height = a[name]
    print('{0} is {1} centimeters tall!'.format(name, height))

Groot is 120 centimeters tall!
Cindy is 160 centimeters tall!

In [60]:
# for문과 items메서드로 key값과 value값에 반복적으로 접근
# items 반환 순서 : (key, value)
for name, height in a.items():
     print('{0} is {1} centimeters tall!'.format(name, height))

Groot is 120 centimeters tall!
Cindy is 160 centimeters tall!

### 3.5. 딕셔너리 메서드
* `keys()` : key만 모아서 `dict_keys` 객체를 반환
* `values()` : value만 모아서 `dict_values` 객체를 반환
* `items()` : key와 value를 tuple로 묶어서 `dict_items` 객체를 반환
    * `keys()`, `values()`를 쓰고 싶으면 `list()`로 변환
* `clear()` : key와 value 쌍을 모두 제거
* `get(x)` : x key값의 value값을 반환
    * 인덱싱으로 value값을 반환하는 것과 동일
    * 존재하지 않는 key값으로 접근하는 경우 인덱싱은 에러를 일으키고, `get`은 None을 반환
* `get(x, y)` : x key값의 value값을 반환하는데 x가 없을 경우 y를 반환
* `setdefault(x, y)` : x key가 있으면 value를 반환하고 없으면 y를 value로 하여 딕셔너리 요소로 추가 (반환은 해당 key의 value값)

In [61]:
scores = {'Korean':100, 'Math':95, 'Science':99}

# keys : key만 모아서 dict_keys 객체 반환
print(scores.keys())

# values : value만 모아서 dict_values 객체 반환
print(scores.values())

# items : key와 value 쌍을 튜플로 묶어서 dict_items 객체 반환
print(scores.items())

# get : 인자로 들어온 key의 value값 반환
print(scores.get('Korean'))

# get : 존재하지 않은 경우 두 번째 인자로 들어온 값을 그대로 반환
print(scores.get('English', 'NOT FOUND'))

# setdefault : 존재하지 않는 경우 두 번째 인자로 들어온 값을 value로 하여 요소로 추가
print(scores.setdefault('English', 90))
print(scores)

# clear : key와 value 쌍 제거
scores.clear()
scores

dict_keys(['Korean', 'Math', 'Science'])
dict_values([100, 95, 99])
dict_items([('Korean', 100), ('Math', 95), ('Science', 99)])
100
NOT FOUND
90
{'Korean': 100, 'Math': 95, 'Science': 99, 'English': 90}

{}

### 3.6. 딕셔너리 Comprehensions

In [62]:
# 딕셔너리 comprehension으로 딕셔너리를 쉽게 생성할 수 있음
recent_height = {'Groot':160, 'Cindy':180}
future_height = {name:height+10 for name, height in recent_height.items()}
future_height

{'Groot': 170, 'Cindy': 190}

## 4. Set
집합(set)은 다음과 같은 특징을 갖고 있다.
* 데이터가 들어온 순서가 없다.
* 순서가 없어 인덱싱이 불가하므로 특정 위치에 있는 데이터 수정이 불가능하다.

집합(set)은 주로 **순서에 상관 없이 특정 값이 있는지 여부만을 원할 때** 사용된다. (우리가 아는 **집합**과 동일하다.)

### 4.1. 집합의 생성

In [63]:
# 빈 집합 생성
a = set()     # {}는 빈 딕셔너리이므로 생성자로 생성
print(a)

# 집합 생성
b = set([1, 2, 3])     # 리스트를 집합을 변환
c = set('Hello')       # 문자열의 문자 하나를 요소 하나로 인식
d = {'Mango', 'Apple', 'Pineapple'}

print(b)
print(c)
print(d)

set()
{1, 2, 3}
{'e', 'o', 'l', 'H'}
{'Apple', 'Pineapple', 'Mango'}

### 4.2. 조건문/반복문에서의 Set 사용
* `in` 키워드로 해당 요소가 집합에 있는지 `True/False`로 반환한다.
* for문으로 각 요소에 반복적으로 접근할 수 있지만, **순서가 없기에 어떤 순서로 나올지 모른**다.
* for문으로 각 요소와 인덱스에 반복적으로 접근하고 싶으면 `enumerate`를 사용하면 된다.
    * 여기서의 인덱스는 그냥 나온 순서이다.

In [64]:
# in 키워드
fruits = {'Apple', 'PineApple', 'Pear', 'Banana'}

'Apple' in fruits

True

In [65]:
# for문으로 반복적으로 접근 (순서는 모름)
for fruit in fruits:
    print(fruit)

Apple
Pear
PineApple
Banana

In [66]:
# enumerate로 인덱스를 넣을 수 있음
for idx, fruit in enumerate(fruits):
    print('[{0}] {1}'.format(idx, fruit))

[0] Apple
[1] Pear
[2] PineApple
[3] Banana

### 4.3. Set의 연산
* `&`, `intersection()` : 교집합을 반환
* `|`, `union()` : 합집합을 반환
* `-`, `difference()` : 차집합을 반환

In [67]:
s1 = set([1, 2, 3, 4, 5])
s2 = set([3, 4, 5, 6, 7])

# s1과 s2의 교집합
s1&s2, s1.intersection(s2)

({3, 4, 5}, {3, 4, 5})

In [68]:
# s1과 s2의 합집합
s1|s2, s1.union(s2)

({1, 2, 3, 4, 5, 6, 7}, {1, 2, 3, 4, 5, 6, 7})

In [69]:
# s1과 s2의 차집합
s1-s2, s1.difference(s2)

({1, 2}, {1, 2})

### 4.4. Set 메서드
* `add(x)` : 집합에 x를 추가
* `remove(x)` : 집합에서 x를 제거

In [70]:
fruits = {'Apple', 'PineApple', 'Pear', 'Banana'}

# add : 집합에 요소 추가
fruits.add('Grapes')
fruits

{'Apple', 'Banana', 'Grapes', 'Pear', 'PineApple'}

In [71]:
# remove : 집합의 특정 요소를 제거
fruits.remove('Pear')
fruits

{'Apple', 'Banana', 'Grapes', 'PineApple'}

### 4.5. Set Comprehensions

In [72]:
nums = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

rest_div3 = {x%3 for x in nums}
rest_div3

{0, 1, 2}

## 5. 튜플
리스트와 동일하나 생성 뒤 요소를 절대 수정할 수 없다.

### 5.1. 튜플의 생성

In [73]:
# 빈 튜플 생성
a = ()
b = tuple()

a, b

((), ())

In [74]:
# 튜플 생성
a = (1, 2, 3)
b = 1, 2, 3     # 괄호 생략 가능

a, b

((1, 2, 3), (1, 2, 3))

In [75]:
# 요소가 한 개인 튜플 생성 시 , 반드시 추가
a = (1)
b = (1,)

type(a), type(b)

(int, tuple)

### 5.2. 튜플의 연산
이 때 기존 튜플을 변화시키는 게 아니라 요소가 변화된 새로운 튜플을 생성한다.
* `+` : 기존 튜플의 요소, 추가 튜플의 요소를 넣은 새로운 튜플 생성
* `*` : 기존 튜플의 요소를 n번 반복한 새로운 튜플 생성

In [5]:
a = (1, 2, 3)
b = (4, 5, 6)

print('a의 id :', id(a), '\nb의 id :', id(b), '\na+b의 id :', id(a+b))
a+b

a의 id : 1760858940040
b의 id : 1760862614656
a+b의 id : 1760858829640

(1, 2, 3, 4, 5, 6)

In [6]:
print('a의 id :', id(a), '\na*5의 id :', id(a*5))
a*5

a의 id : 1760858940040
a*5의 id : 1760879800560

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

## 9. 함수
* `def` 키워드로 함수를 정의할 수 있다.
* 여러 값을 반환할 수 있다. 
    * 여러 개의 변수로 값을 받을 수 있지만
    * 만약 하나의 변수로 받는 경우 반환 값은 `tuple` 자료형이다.

In [78]:
def total_average(result):
    scores = list(result.values())
    total = sum(scores)
    avg = total/len(scores)
    
    return total, avg

In [79]:
my_result = {'Korean':100, 'Math':96, 'Science':90}

total, avg = total_average(my_result)
total, avg

(286, 95.33333333333333)

In [80]:
result = total_average(my_result)
result

(286, 95.33333333333333)

## 10. lambda 함수
이름이 없는 함수로 간단한 함수를 정의할 때 사용된다.
$$lambda　param1, param2, ... : (매개변수로 만든 표현식)$$

In [81]:
(lambda x: x%5)(19)

4

In [82]:
add = lambda a, b: a+b

add(3, 5)

8

## 11. 고차 함수
매개 변수로 다른 함수를 받는 함수를 말한다.

### 11.1. `filter(func, list)`
* 리스트의 요소가 함수의 인수로 하나씩 전달되어 
* True가 반환되는 요소만 모아서 리스트로 반환한다

In [83]:
def mul_2_3(x):
    return x%2==0 or x%3==0

nums = list(range(15))
result = filter(mul_2_3, nums)

# 값을 보려면 리스트로 변환
# 반환값이 filter 객체이기 때문
list(result)

[0, 2, 3, 4, 6, 8, 9, 10, 12, 14]

In [84]:
# lambda식을 func 부분에 넣어도 됨
is_mul2_3 = lambda x : x%2==0 or x%3==0

result = filter(is_mul2_3, nums)
list(result)

[0, 2, 3, 4, 6, 8, 9, 10, 12, 14]

### 11.2. `map(func, seq)`
* `seq`란 **리스트, 튜플, 문자열**을 말한다.
* seq자료형의 요소가 하나씩 func의 입력으로 들어가
* 나오는 출력값을 하나로 묶어 반환한다.
    * 그 값을 쓰고 싶으면 `list`로 변환한 뒤 사용한다.

In [85]:
def add_3(x, y, z):
    return x+y+z

nums = list(range(15))
result = map(add_3, nums, nums, nums)
list(result)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42]

In [86]:
# lambda 식을 func 부분에 넣어도 된다.
cube = map((lambda x:x**2), nums)
list(cube)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

### 11.3. `reduce(func, seq)`
1. 처음에는 seq자료형의 두 요소를 뽑아 함수에 입력을 넣고
2. 그 다음 부터는 앞의 결과값과 그 다음 요소를 함수에 입력을 넣는다.
3. chain처럼 연달아 연산을 하여 최종 결과값(int, float 등)을 반환한다.

In [87]:
from functools import reduce

num = range(1, int(input())+1)

fact = reduce(lambda x, y:x*y, num)
fact

10

3628800

## 12.  클래스
### 12.1. 클래스
Python의 클래스의 경우 따로 멤버 변수를 정의를 하지 않는다.
* 인스턴스 변수의 경우 앞에 `self`를 붙여준다.
* 클래스 변수의 경우 정의를 할 수 있으며, 클래스 내에서 사용시 `cls`를 붙여준다.    

함수의 경우도 마찬가지로 인스턴스 메서드와 클래스 메서드를 구분하기 위해 인스턴스 메서드의 경우 인자로 `self`를 클래스 메서드의 경우 `cls`를 넘겨준다.

In [88]:
class Person:
    # 클래스 변수 : 모든 객체가 공유
    species = 'Person'
    
    # 생성자
    def __init__(self, name, age):
        # 인스턴스 변수
        self.name = name
        self.age = age
    
    # 인스턴스 메서드
    def walk(self):
        print('{0}이 걷고 있습니다!'.format(self.name))
        
    def age_after(self, year):
        print('{0}은 {1}년 후 {2}살 입니다!'.format(self.name, self.age, self.age+year))
    
    # 클래스 메서드 : 모든 객체가 공유
    @classmethod
    def print_person(cls):
        print('종족은 {0}입니다!'.format(cls.species))

#### 12.1.1. 객체 생성

In [89]:
person1 = Person('Kevin', 15)
person2 = Person('Emily', 25)
person3 = Person('Ben', 45)

#### 12.1.2. 멤버 변수, 메서드 호출

In [90]:
# 멤버 변수 호출
person1.name, person2.name, person3.name

('Kevin', 'Emily', 'Ben')

In [91]:
# 멤버 메서드 호출
person1.walk(), person2.walk(), person3.walk()

Kevin이 걷고 있습니다!
Emily이 걷고 있습니다!
Ben이 걷고 있습니다!

(None, None, None)

#### 12.1.3. 클래스 변수, 메서드 호출

In [92]:
# 클래스 변수 호출
person1.species, person2.species, person3.species

('Person', 'Person', 'Person')

In [93]:
# 클래스 메서드 호출
person1.print_person(), person2.print_person(), person3.print_person()

종족은 Person입니다!
종족은 Person입니다!
종족은 Person입니다!

(None, None, None)

### 12.2. 상속

In [94]:
class MoreInfo(Person):
    def __init__(self, name, age, sex, home):
        # 부모 클래스의 생성자 호출
        super().__init__(name, age)
        self.sex = sex
        self.home = home
        
    def print_info(self):
        print('{0}은 {1}살이며 {2}이고 집은 {3}입니다!'.format(self.name, self.age, self.sex, self.home))

In [95]:
person1 = MoreInfo('Dury', 22, '남성', '대구')

person1.print_info()

Dury은 22살이며 남성이고 집은 대구입니다!

### 12.3. 오버라이딩(재정의)
자식 클래스에서 부모 클래스에 이미 정의되어 있는 메서드를 다시 정의하는 것

In [96]:
class MoreInfo2(Person):
    def __init__(self, name, age, sex, home):
        # 부모 클래스의 생성자 호출
        super().__init__(name, age)
        self.sex = sex
        self.home = home
        
    def walk(self):
        print('{0}살 {1}은 걷고 있습니다!'.format(self.age, self.name))

In [97]:
person1 = Person('Dury', 18)
person2 = MoreInfo2('DuryKo', 22, '남성', '사월')

person1.walk()
person2.walk()

Dury이 걷고 있습니다!
22살 DuryKo은 걷고 있습니다!

## 13. 모듈
모듈은 함수, 변수, 클래스를 모아 놓은 파일이다. 라이브러리라 보면 된다.

### 13.1. 모듈 생성

In [98]:
# calculator.py
def add(a, b):
    return a+b

def sub(a, b):
    return a-b

def mul(a, b):
    return a*b

def div(a, b):
    return a//b, a%b

### 13.2. 모듈 불러와 사용하기

In [99]:
import calculator as cal

print(cal.add(3, 5))
print(cal.sub(5, 3))
print(cal.mul(4, 5))
print(cal.div(17, 3))

8
2
20
(5, 2)

In [100]:
from calculator import *

# 모듈 내 메서드 호출 시 모듈 이름을 명시하지 않아도 됨
print(add(3, 5))
print(sub(5, 3))
print(mul(4, 5))
print(div(17, 3))

8
2
20
(5, 2)