# Stage 03

In [1]:
import pandas as pd

## 1. Series

In [4]:
s1 = pd.Series({'김':80, '이':70, '박':100})
s1.name = '수학'
s1

김     80
이     70
박    100
Name: 수학, dtype: int64

In [6]:
s2 = pd.Series({'김':50, '이':70, '박':90})
s2

김    50
이    70
박    90
dtype: int64

In [7]:
s3 = pd.Series([100, 45, 40, 20])
s3

0    100
1     45
2     40
3     20
dtype: int64

## 2. DataFrame

In [9]:
# DataFrame 생성하는 법
df = pd.DataFrame({'출생지':['수원', '대구'], '나이':[23, 22]})
df

  출생지  나이
0  수원  23
1  대구  22

In [10]:
# column 추가하는 법
df['성별'] = ['여자', '남자']
df

  출생지  나이  성별
0  수원  23  여자
1  대구  22  남자

In [12]:
# row 추가하는 법
df.loc[2] = ['서울', 21, '여자']
df

  출생지  나이  성별
0  수원  23  여자
1  대구  22  남자
2  서울  21  여자

In [13]:
# Series -> DataFrame
df2 = pd.DataFrame(s1)
df2

    수학
김   80
이   70
박  100

In [14]:
# DataFrame에 column 추가하기
df2['미술'] = [30, 40, 60]
df2

    수학  미술
김   80  30
이   70  40
박  100  60

In [16]:
# Series
df2['수학']

김     80
이     70
박    100
Name: 수학, dtype: int64

In [17]:
# DataFrame
df2[['수학']]

    수학
김   80
이   70
박  100